*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(90deg,cyan,grey);
    color:white;
}

#course-code{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 2%;
}


#course-unit{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 13%;
}

#course-grade{
    font-size:20px;
    font-weight:bolder;
    margin-left: 8%;
}


.container-1{
    width:75%;
    height:auto;
    border:2px solid black;
    margin:100px auto;
}

h1{
    text-align: center;
}

.header-1{
    padding:15px;
    font-size: 40px;
    text-align: center;
    border:1px solid grey;
    background-color: grey;
}

h2{
    padding:20px;
    font-size: 1rem;
    color:black;
    text-align: center;
}

.course-div, form{
    color:black;
    padding-left: 10px;
    margin:0 auto;
    text-align: center;

}

input{
    border:none;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    width:20%;
    text-align: center;

}

select{
    padding:15;
    border:none;
    border-radius: 7.5px;
    width:20%;;
}

button{
    width:15%;
    height:40px;
    padding:1px;
    margin:5px auto;
    border-width: 2px;
    border-radius:10%;
    border-style: solid;
    color:green;
}

.btn{
    display:inline-block;
    margin:0 auto;
    text-align:center;
    justify-content: center;
    padding:10px;
}

.result-div{
    border:1px solid grey;
    background-color:grey;
}

.result-div {
    border:1px solid grey;
    background-color: grey;
}

.result-div p{
    color:white;
    text-align: center;
    padding:10px;
    font-size: 30px;
    font-weight:bolder;
}


.result-div p:hover{
    background-color: wheat;

}